.loginContainer {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  position: absolute;
  top: 0;
  left: 0;
}

.loginWrapper {
  border-radius: 20px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginLeft {
  flex: 1;
  width: 100%;
  height: 20%;
}

.leftImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginRight {
  margin: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  overflow: auto;
}

.loginRight > h2 {
  text-align: center;
  font-size: 36px;
  color: #f22a2a;
  margin: 2.5rem 0;
}

.loginRight > .loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loginForm {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.loginForm > input {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 50%;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  transition: 150ms all ease-in-out;
}

.loginForm > input:focus {
  padding-left: 0.75rem;
}

.loginForm > .submitButton {
  margin-top: 2.5rem;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  background-color: #f22a2a;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.loginForm > .submitButton:hover {
  border-color: #f22a2a;
  color: #f22a2a;
  background-color: #fff;
}

.loginForm > p {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm > p > a {
  text-decoration: none;
  font-size: 17px;
  color: #888;
  margin-top: 0.25rem;
}

.loginForm > p > a:hover {
  color: #f00;
  cursor: pointer;
}

.errorMessage {
  height: 70px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .loginContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f00;
    position: absolute;
    top: 0;
    left: 0;
  }

  .loginWrapper {
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .loginLeft {
    flex: 1;
    width: 50%;
    height: 100%;
  }

  .leftImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .loginRight {
    margin: 0;
    flex: 1;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .loginRight > h2 {
    text-align: center;
    font-size: 36px;
    color: #f22a2a;
    margin: 2.5rem 0;
  }

  .loginRight > .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .loginForm {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }

  .loginForm > input {
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    width: 50%;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
    transition: 150ms all ease-in-out;
  }

  .loginForm > input:focus {
    padding-left: 0.75rem;
  }

  .loginForm > .submitButton {
    margin-top: 2.5rem;
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem 1.5rem;
    background-color: #f22a2a;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
  }

  .loginForm > .submitButton:hover {
    border-color: #f22a2a;
    color: #f22a2a;
    background-color: #fff;
  }

  .loginForm > p {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginForm > p > a {
    text-decoration: none;
    font-size: 17px;
    color: #888;
    margin-top: 0.25rem;
  }

  .loginForm > p > a:hover {
    color: #f00;
    cursor: pointer;
  }

  .errorMessage {
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-weight: 500;
  }
}
